.topbar-nav {
    /* margin-top: 20px;
    padding: 0; */
    list-style: none;
    margin-right: 30px;

}

a:visited {
    color: cyan;
  }

.freeshelf {
    font-size: 50px;
}

.title-bar {
    /* display: flex;
    flex-wrap: wrap; */
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    font-family: sans-serif;
    background-color: rgb(47, 79, 79);}

.category-nav {
    margin-bottom: 30px;
    text-align: center;
    font-family: sans-serif;

}

.body {
    font-family: sans-serif;
    margin: 20px;

}

.html {
    background-color: rgb(224, 222, 222)
}

.shelf {
    border-radius: 30px;
    width: 95%;
    height: 350px;
}